html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

input.user_def_into_image:after{
  height:350px;
  margin-top:-10px;
  content: url("../images/intro.png");
}

#user_def_bg-white {

}

#user_def_banner-1 {
    background-image: url("../images/home_page_banner.jpg");
    height:645px ;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#user_def_registration-panel-background{
    background-color: rgba(0,0,0,0.7);
    height: 435px;
    max-width: 520px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 3%;
    padding-bottom: 10px;
    padding-top: 22px;
    padding-left: 4%;
    padding-right: 4%;
}

#user_def_fake-panel-background{
    background-color: rgba(0,0,0,0);
    height: 435px;
    width: auto;
    background-position: center;
    vertical-align: bottom
}

.user_def_rounded-corners{
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius:20px;
    border-radius: 20px 20px 20px 20px;
}

.user_def_login-button-background {
    background-color: rgba(0,0,0,0.9);
    height: 42px;
    width: 85px;
    position: absolute;
    right: 11%;
    top: 3px;
    border: 0px;
    outline: none;
    text-align: center;

}

.user_def_login-button-background:hover {
    background-color: rgba(0,0,0,0.7);
}

#user_def_login-btn-typo {
    font-weight: lighter;
    color:#ffffff;
    font-family:"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:24px;
    letter-spacing: 1px;
    margin-top: 2px;
    margin-left: 2px
}


.user_def_banner1-element-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


#user_def_registration-form-header {
    color: #dddcdc;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    font-family: "Open Sans",Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
}


#user_def_registration-form-sub-header {
    color: #cacaca;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    font-family: "Open Sans",Verdana,Arial,Helvetica,sans-serif;
}

.user_def_registration-panel-fields {
    height: 35px;
    width: 320px;
    margin-bottom: -3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color:rgba(0,0,0,0);
    padding-left: 10px;
    font-size: 13px;
    color: #eae9e9;
    border-color: #899097;
    border-style: solid;
    outline-color: #03a9f4
}

::-webkit-input-placeholder {
  color: #c7c7c7;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c7c7c7;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #c7c7c7;
}
:-ms-input-placeholder {
  color: #c7c7c7;
}


.user_def_registration-panel-btn{
    height: 35px;
    width: 320px;
    margin-bottom: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color:rgba(179,184,187,0.8);
    border-style: none;
    margin-top: 10px;
    font-size: 16px;
    color: #071117;
}


.user_def_navbar{
    background-color: #075a9b;
    border-color: #075a9b;
}

.user_def_navbar-brand{
    color: #ebebeb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 1px;
}



/* ++++++++++++++++++++++++++++++++ Styles in Recipient List page ++++++++++++++++++++++++ */


.user_def_recipient-list-index-top-banner-div{
    height: 100px;
    width: 90%;
    background-color: #075a9b;

}

.user_def_recipient-list-index-top-banner-text{
    font-size: 14px;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

.user_def_recipient-list-index-top-banner-create-group-button{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.user_def_recipient-list-index-recipient-gridview{
    width: 91%;
    padding-bottom: 8em;
}


.user_def_recipient-list-row-option{
    background-color: #f9f9f9;
}

.user_def_msg-input{
    width: 100%;
    height: 4em;
    max-width: 100%;
    max-height: 4em;
    border: none;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

.user_def_msg-send-button{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #075a9b;
}

.user_def_group_heading{
    color: #333333;
    padding-top: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}

.user_def_groups-list-row-option{
    background-color: #f9f9f9;
}

.user_def_message_div{
    background-color:#ffffff;
    border:2px solid #cccccc;
    width: 92%;
    height: 5em;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #06497D;
}


.history-btn{
    background-image: url("../images/history_btn_bg.png");
    background-color: Transparent;
    border: none;
    width: 94%;
    height: 35px;
    text-align: left;
    margin-left: 9px;
    margin-top: 20px;
}

.alert {
  margin-bottom: 1px;
  height: 20px;
  line-height:20px;
  padding:0px 10px;
}
